.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

  &__title {
    font-family: var(--font-mono);
    font-size: 1.4rem;
    font-weight: 600;

    &--cursor {
      color: var(--accent-primary); // Usando a sua cor de sotaque para destacar
      animation: blink 1s step-end infinite;
      margin-left: 4px; // Um leve respiro entre o 's' e o '_'
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  &__item {
    color: var(--text-secondary);
    font-size: 0.97rem;
  }

  &__link {
    font-family: var(--font-mono);
    font-weight: 300;
    transition: color 0.3s ease;

    &:hover {
      color: var(--text-primary);
    }
  }

  &__roles {
    color: var(--accent-primary);
    font-family: var(--font-mono);
    font-weight: 600;
  }

  &__separator {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 0.97rem;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
